<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Editar Curso</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> </link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<section class="content">
            <!-- Your Page Content Here -->
	<div class="container spark-screen">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="panel panel-default">
                    <!-- AQUI DEBEN AGREGAR EL MENSAJE QUE QUIERAN EN EL PANEL HEAD -->
					<div class="panel-heading"> Editar curso</div>
					<div class="panel-body">
						
						<form action="#" th:action="@{/cursos/actualizarCurso}" th:object="${curso}" method="post" role="form">
		
		
							 <div class="form-group">
							 	<input type="hidden" data-th-value="*{id}"  data-th-field="*{id}"/>
								<p>Nombre:  <input type="text"  data-th-value="*{nombre}"  data-th-field="*{nombre}" class="form-control"/> </p><br></br>
								<p>Descripcion: <input type="text" data-th-value="*{descripcion}" data-th-field="*{descripcion}"  class="form-control"/> </p><br></br>
								<p>Precio: <input type="number" data-th-value="*{precio}" data-th-field="*{precio}" class="form-control"/> </p><br></br>
								<p>Horas: <input type="number"  data-th-value="*{horas}" data-th-field="*{horas}" class="form-control"/> </p><br></br>
							</div>
							
							<p><input type="submit" value="Guardar" class="btn btn-primary"/> </p>
						</form>
						
											
					</div>
				</div>
			</div>
		</div>
	</div>
	</section><!-- /.content -->

</body>
</html>