<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Formulario 1</title>
</head>
<body>
	<form action="" th:action="@{/ejemplo3/agregarPersona}" th:object="${persona}" method="post">
	
	    <div>
	        <label>Nombre:</label>
	        <input type="text" id="nombre" th:field="*{nombre}"/>
	    </div>
	    <br></br>
	    
	    <div>
	        <label>Edad:</label>
	        <input type="number" id="edad" th:field="*{edad}"/>
	    </div>
	    <br></br>
	    
	    <div>
	    <input type="submit" value="Enviar" />
	    </div>
	    
	</form>
</body>
</html>