<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Listado de Cursos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> </link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Descripcion</th>
				<th>Precio</th>
				<th>Horas</th>
			</tr>
		
		</thead>
		
		<tbody>
			<tr th:each="curso:${cursos}">
				<td> <span th:text="${curso.nombre}"> </span> </td>
				<td> <span th:text="${curso.descripcion}"> </span> </td>
				<td> <span th:text="${curso.precio}"> </span> </td>
				<td> <span th:text="${curso.horas}"> </span> </td>
			</tr>
		</tbody>
		
	</table>
	
	<form action="#" th:action="@{/cursos/agregarCurso}" th:object="${curso}" method="post">
		<p>Nombre: <input type="text" th:field="*{nombre}" /> </p>
		<p>Descripcion: <input type="text" th:field="*{descripcion}" /> </p>
		<p>Precio: <input type="number" th:field="*{precio}" /> </p>
		<p>Horas: <input type="number" th:field="*{horas}" /> </p>
		
		<p><input type="submit" value="Submit"  /> </p>
	</form>

</body>
</html>
