<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>datos complejos</title>
</head>
<body>
<!-- 
	<div>
		<p>Nombre: <span th:text="${individuo.nombre}"></span> </p>
		
	</div>
	<br />
	<div>
		<p>Edad: <span th:text="${individuo.edad}"></span></p>
		
	</div>
 -->	
	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Edad</th>
			</tr>
			
		</thead>
		<tbody th:each="persona:${individuo}">
			<tr>
				<th><span th:text="${persona.nombre}"></span></th>
				<th><span th:text="${persona.edad}"></span></th>
			</tr>
		</tbody>
	</table>
</body>
</html>